
.mobile-nav-bar {
  display: flex;
  justify-content: space-between;
  border: 0.5px solid #d3d3d3;
  align-items: center;
  padding: 0 10px;
}

.mobile-nav-bar img {
  width: 50px;
}

.headline-section {
  background: url("../Images/waraAboutMobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 15px 50px 15px;
}

.headline-title-text p {
  text-align: center;
}

.headline-title-text h2 {
  text-align: center;
}

.headline-box-text {
  background: #ffffffbf;
  border: 2px solid #2a282829;
}

.headline-box-text p {
  text-align: center;
}

.headline-bottom-text {
  padding: 10px 30px 5px 30px;
  text-align: center;
}

.about-log-container {
  text-align: center;
}

.about-log-container h3 {
  font-size: 30px;
  color: darkslategray;
  padding: 0 35px;
  margin-bottom: 0;
}

.about-logo-and-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-logo-img {
  border: 2px solid #2a282829;
  margin: 0 15px;
}

.about-logo-text {
  padding: 0 50px;
  color: darkslategray;
}

.about-logo-img img {
  width: 75%;
  padding: 20px;
}

.main-line {
  margin: 15px auto 5px auto;
}

.past-conference-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding-top: 20px;
  color: darkslategray;
  border-top: 2px solid #d3d3d3;
}

.past-conference-container h3 {
  font-size: 30px;
  color: darkslategray;
  padding: 0 35px;
  text-align: center;
  margin-bottom: 0;
}

.past-conference-text {
  padding-bottom: 30px;
}

.past-conference-text p {
  text-align: center;
  padding: 0 60px;
}

.past-conference-img-one {
  background-image: url("../Images/AboutPageImage.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  width: 90%;
  background-repeat: no-repeat;
  height: 30vh;
}

.past-conference-img-one p {
  text-align: center;
  font-size: 25px;
  color: white;
}

.past-conference-img-two {
  background-image: url("../Images/AboutPageImage2.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  width: 90%;
  background-repeat: no-repeat;
  height: 30vh;
  margin: 25px 0;
}

.past-conference-img-two p {
  text-align: center;
  font-size: 25px;
  color: white;
}

.partner-container {
  background: #272a31;
}

.partner-container h3 {
  font-size: 30px;
  color: white;
  padding: 30px 35px 0 35px;
  text-align: center;
  margin-bottom: 0;
}

.partner-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  font-size: 27px;
  color: #ece8e9db;
  line-height: 50px;
  padding-bottom: 50px;
  padding-top: 20px;
}

.partner-list h4 {
  margin: 0;
}

footer {
  display: flex;
  justify-content: space-around;
}

.footer-logo-img img {
  width: 100px;
  padding: 20px;
}

.footer-text {
  display: flex;
  align-items: center;
  color: darkslategray;
  font-size: 15px;
}
