
body {
  font-family: Lato, cocogoose, Tahoma, sans-serif;
}

header {
  height: 65px;
  position: fixed;
}

.only-desktop {
  display: none;
}

.only-mobile {
  display: block;
}

.hamburger-icon img {
  width: 40px;
  padding-left: 15px;
  padding-top: 15px;
}

#headline-section {
  background: url("../Images/waraMobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 15px 50px 15px;
}

.headline-title-text p {
  color: #ec5242;
  font-size: 23px;
  font-weight: 400;
  margin: 0;
}

.headline-title-text h2 {
  background: -webkit-linear-gradient(#d52b1a, #ec5242);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 41px;
  font-weight: 900;
  margin: 5px 0;
}

.headline-box-text {
  border: 2px solid white;
  margin-top: 30px;
}

.headline-box-text p {
  padding: 0 25px;
  color: darkslategray;
  line-height: 23px;
}

.headline-bottom-text {
  padding-left: 15px;
}

.headline-bottom-text h3 {
  font-size: 25px;
  font-weight: 900;
  color: darkslategray;
  margin-bottom: 0;
}

.headline-bottom-text p {
  color: darkslategray;
}

#main-program {
  background: #282a30;
}

.main-program-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-program-container button {
  background: #ec5242;
  padding: 30px;
  margin: 40px;
  color: #fff;
  font-size: 16px;
  border: none;
}

.main-program-container h3 {
  color: #e9e3e3;
  text-align: center;
  padding-top: 20px;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 0;
}

.main-line {
  background-color: #ec5242;
  height: 2px;
  width: 50px;
  margin: 15px auto 50px auto;
}

.program-catagories {
  display: flex;
  justify-content: space-evenly;
  background-color: #f3ebeb26;
  margin: 8px 15px;
  width: 92%;
}

.program-icon {
  width: 15%;
  display: flex;
  align-items: center;
}

.program-title {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #ec5242;
}

.program-title h5 {
  margin: 0;
}

.program-text {
  width: 50%;
  color: #ece8e9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured-speakers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-speakers-container h3 {
  padding-top: 15px;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 0;
}

.speaker-catagories {
  display: flex;
  justify-content: center;
  padding-bottom: 45px;
}

.speaker-text {
  width: 55%;
}

.speaker-img img {
  width: 140px;
  padding-right: 20px;
}

.speaker-name h5 {
  margin: 0;
  font-size: 18px;
}

.speaker-position p {
  margin: 0;
  color: #ec5242;
  font-size: 14px;
  padding-top: 6px;
}

.speaker-detail p {
  margin: 0;
  font-size: 12px;
  padding-top: 5px;
  color: #272a31;
}

.featured-speakers-container button {
  width: 90%;
  background: #fff;
  padding: 5px;
  margin-bottom: 50px;
  color: darkslategray;
  font-size: 16px;
  border: 1px solid #d3d3d3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.featured-speakers-container button span {
  color: #ec5242;
  font-size: 20px;
}

.featured-speakers-container button .more {
  color: #272a31;
  font-size: 15px;
  padding-right: 5px;
}

.featured-line {
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .only-mobile {
    display: none;
  }
}
