
body {
  font-family: Lato, cocogoose, Tahoma, sans-serif;
}

header {
  height: 65px;
  position: fixed;
}

.only-desktop {
  display: none;
}

.only-mobile {
  display: block;
}

#headline-section {
  background: url("../Images/waraMobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 12px 20px 15px;
}

.headline-title-text p {
  color: #ec5242;
  font-size: 23px;
  font-weight: 400;
  margin: 0;
}

.headline-title-text h2 {
  background: -webkit-linear-gradient(#d52b1a, #ec5242);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
  font-weight: 900;
  margin: 5px 0;
}

.headline-box-text {
  border: 2px solid white;
  margin-top: 30px;
}

.headline-box-text p {
  padding: 0 25px;
  color: darkslategray;
  line-height: 23px;
}

.headline-bottom-text h3 {
  font-size: 25px;
  font-weight: 900;
  padding-left: 10px;
  color: darkslategray;
}

.headline-bottom-text p {
  padding-left: 60px;
  color: darkslategray;
}

@media screen and (min-width: 768px) {
  .only-mobile {
    display: none;
  }
}
